{
  "openapi": "3.1.0",
  "info": {
    "title": "IAESTE Lleida API",
    "version": "1.0.0",
    "description": "Public API for IAESTE LC Lleida applications."
  },
  "servers": [
    {
      "url": "https://api.iaestelleida.cat",
      "description": "Production"
    },
    {
      "url": "http://localhost:3004",
      "description": "Local development"
    }
  ],
  "components": {
    "schemas": {
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1.0.0"
            ]
          }
        },
        "required": [
          "status",
          "version"
        ]
      },
      "PublicRegistrationStatus": {
        "type": "object",
        "properties": {
          "open": {
            "type": "boolean"
          },
          "opensAt": {
            "type": [
              "string",
              "null"
            ],
            "example": "2026-09-15T08:00:00.000Z"
          },
          "closesAt": {
            "type": [
              "string",
              "null"
            ],
            "example": "2026-10-15T22:00:00.000Z"
          }
        },
        "required": [
          "open",
          "opensAt",
          "closesAt"
        ]
      },
      "RegistrationStartResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "resendAfterSeconds": {
            "type": "integer"
          }
        },
        "required": [
          "status",
          "resendAfterSeconds"
        ]
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "VALIDATION_ERROR",
                  "UNSUPPORTED_MEDIA_TYPE",
                  "PAYLOAD_TOO_LARGE",
                  "UNAUTHENTICATED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "CONFLICT",
                  "ALREADY_REGISTERED",
                  "INVALID_TOKEN",
                  "INTERNAL_ERROR"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValidationIssue"
                }
              }
            },
            "required": [
              "code",
              "message"
            ]
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "requestId"
        ]
      },
      "ValidationIssue": {
        "type": "object",
        "properties": {
          "path": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "path",
          "message"
        ]
      },
      "RegistrationStartRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "joan@alumnes.udl.cat"
          }
        },
        "required": [
          "email"
        ]
      },
      "RegistrationSession": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "ready": {
            "type": "boolean"
          },
          "emails": {
            "type": "object",
            "properties": {
              "university": {
                "type": "object",
                "properties": {
                  "maskedAddress": {
                    "type": "string"
                  },
                  "verified": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "maskedAddress",
                  "verified"
                ]
              },
              "personal": {
                "type": "object",
                "properties": {
                  "maskedAddress": {
                    "type": "string"
                  },
                  "verified": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "maskedAddress",
                  "verified"
                ]
              }
            }
          },
          "known": {
            "type": "boolean"
          },
          "profile": {
            "$ref": "#/components/schemas/KnownProfile"
          },
          "memberships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnownMembership"
            }
          },
          "openCampaignRegistrationStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "pending_email",
              "pending_review",
              "accepted",
              "rejected",
              null
            ]
          },
          "willAutoAccept": {
            "type": "boolean"
          }
        },
        "required": [
          "token",
          "expiresAt",
          "ready",
          "emails",
          "known",
          "profile",
          "memberships",
          "openCampaignRegistrationStatus",
          "willAutoAccept"
        ]
      },
      "KnownProfile": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "surnames": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "surnames",
          "phone",
          "degree",
          "year"
        ]
      },
      "KnownMembership": {
        "type": "object",
        "properties": {
          "campaignLabel": {
            "type": "string",
            "example": "2025-2026"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "left",
              "kicked"
            ]
          }
        },
        "required": [
          "campaignLabel",
          "status"
        ]
      },
      "RegistrationVerifyCodeRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$",
            "example": "418502"
          }
        },
        "required": [
          "email",
          "code"
        ]
      },
      "RegistrationDraftTokenRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$/i"
          }
        },
        "required": [
          "token"
        ]
      },
      "RegistrationDraftResendRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$/i"
          },
          "kind": {
            "type": "string",
            "enum": [
              "university",
              "personal"
            ]
          }
        },
        "required": [
          "token",
          "kind"
        ]
      },
      "RegistrationCreated": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "created"
            ]
          },
          "id": {
            "type": "string",
            "example": "registration_123"
          },
          "outcome": {
            "type": "string",
            "enum": [
              "pending_review",
              "accepted"
            ],
            "description": "Returning members from the immediately preceding campaign are accepted automatically; everyone else waits for review."
          }
        },
        "required": [
          "status",
          "id",
          "outcome"
        ]
      },
      "RegistrationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "example": "Joan"
          },
          "surnames": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "example": "Garcia Serra"
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "example": "+34 623 32 42 34"
          },
          "degree": {
            "type": "string",
            "enum": [
              "grau en informàtica (lleida)",
              "grau en informàtica (igualada)",
              "grau en tècniques d'interacció digital",
              "grau en disseny digital",
              "doble grau en informàtica i ADE",
              "grau en enginyeria mecànica",
              "grau en enginyeria química",
              "grau en enginyeria de l'energia",
              "grau en eng. electrònica industrial",
              "grau en organització industrial",
              "doble grau en organització industrial i ADE",
              "doble grau en mecànica i energia",
              "grau en arquitectura tècnica",
              "altre"
            ],
            "example": "grau en informàtica (lleida)"
          },
          "year": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "example": 2
          },
          "note": {
            "type": "string",
            "maxLength": 2000,
            "example": "M'interessen els intercanvis internacionals."
          },
          "emailToken": {
            "type": "string",
            "minLength": 1,
            "example": "a1b2c3..."
          }
        },
        "required": [
          "name",
          "surnames",
          "phone",
          "degree",
          "year",
          "emailToken"
        ]
      },
      "ResendVerificationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "Verified": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "verified"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "VerifyTokenRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 1,
            "example": "a1b2c3..."
          }
        },
        "required": [
          "token"
        ]
      },
      "PushPublicKey": {
        "type": "object",
        "properties": {
          "publicKey": {
            "type": "string"
          }
        },
        "required": [
          "publicKey"
        ]
      },
      "PushSubscribeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "PushSubscribeRequest": {
        "type": "object",
        "properties": {
          "endpoint": {
            "type": "string",
            "format": "uri"
          },
          "keys": {
            "type": "object",
            "properties": {
              "p256dh": {
                "type": "string",
                "minLength": 1
              },
              "auth": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "p256dh",
              "auth"
            ]
          },
          "userAgent": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "endpoint",
          "keys"
        ]
      },
      "PushUnsubscribeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "PushUnsubscribeRequest": {
        "type": "object",
        "properties": {
          "endpoint": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "endpoint"
        ]
      },
      "AdminOwnProfile": {
        "type": "object",
        "properties": {
          "profile": {
            "$ref": "#/components/schemas/AdminMemberProfile"
          },
          "emails": {
            "$ref": "#/components/schemas/AdminMemberEmails"
          }
        },
        "required": [
          "profile",
          "emails"
        ]
      },
      "AdminMemberProfile": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "surnames": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phoneE164": {
            "type": "string"
          },
          "phoneDisplay": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "studyYear": {
            "type": "number"
          },
          "role": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "name",
          "surnames",
          "email",
          "phoneE164",
          "phoneDisplay",
          "degree",
          "studyYear",
          "role",
          "createdAt"
        ]
      },
      "AdminMemberEmails": {
        "type": "object",
        "properties": {
          "university": {
            "$ref": "#/components/schemas/AdminMemberEmail"
          },
          "personal": {
            "$ref": "#/components/schemas/AdminMemberEmail"
          }
        },
        "required": [
          "university",
          "personal"
        ]
      },
      "AdminMemberEmail": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "verifiedAt": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "email",
          "verifiedAt"
        ]
      },
      "AdminUpdateOwnProfileRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "example": "Joan"
          },
          "surnames": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "example": "Garcia Serra"
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "example": "+34 623 32 42 34"
          },
          "degree": {
            "type": "string",
            "enum": [
              "grau en informàtica (lleida)",
              "grau en informàtica (igualada)",
              "grau en tècniques d'interacció digital",
              "grau en disseny digital",
              "doble grau en informàtica i ADE",
              "grau en enginyeria mecànica",
              "grau en enginyeria química",
              "grau en enginyeria de l'energia",
              "grau en eng. electrònica industrial",
              "grau en organització industrial",
              "doble grau en organització industrial i ADE",
              "doble grau en mecànica i energia",
              "grau en arquitectura tècnica",
              "altre"
            ],
            "example": "grau en informàtica (lleida)"
          },
          "year": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "example": 2
          }
        },
        "required": [
          "name",
          "surnames",
          "phone",
          "degree",
          "year"
        ]
      },
      "AdminOverview": {
        "type": "object",
        "properties": {
          "currentCampaign": {
            "$ref": "#/components/schemas/AdminCampaignRef"
          },
          "registrationOpenCampaign": {
            "$ref": "#/components/schemas/AdminCampaignRef"
          },
          "counts": {
            "type": "object",
            "properties": {
              "pendingVerification": {
                "type": "integer"
              },
              "pendingReview": {
                "type": "integer"
              },
              "activeMembers": {
                "type": "integer"
              },
              "newMembers": {
                "type": "integer"
              },
              "returningMembers": {
                "type": "integer"
              },
              "unrenewedPastMembers": {
                "type": "integer"
              }
            },
            "required": [
              "pendingVerification",
              "pendingReview",
              "activeMembers",
              "newMembers",
              "returningMembers",
              "unrenewedPastMembers"
            ]
          }
        },
        "required": [
          "currentCampaign",
          "registrationOpenCampaign",
          "counts"
        ]
      },
      "AdminCampaignRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "slug",
          "label"
        ]
      },
      "AdminRegistrationList": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminRegistration"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "rows",
          "total",
          "limit",
          "offset"
        ]
      },
      "AdminRegistration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "universityEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "personalEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/RegistrationStatus"
          },
          "profileSnapshot": {
            "$ref": "#/components/schemas/AdminRegistrationProfileSnapshot"
          },
          "source": {
            "type": "string"
          },
          "verifiedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "reviewedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "reviewerId": {
            "type": [
              "string",
              "null"
            ]
          },
          "rejectionReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "campaignId",
          "email",
          "universityEmail",
          "personalEmail",
          "status",
          "profileSnapshot",
          "source",
          "verifiedAt",
          "reviewedAt",
          "reviewerId",
          "rejectionReason",
          "createdAt",
          "updatedAt"
        ]
      },
      "RegistrationStatus": {
        "type": "string",
        "enum": [
          "pending_email",
          "pending_review",
          "accepted",
          "rejected"
        ]
      },
      "AdminRegistrationProfileSnapshot": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "surnames": {
            "type": "string"
          },
          "phoneE164": {
            "type": "string"
          },
          "phoneDisplay": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "studyYear": {
            "type": "number"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "surnames",
          "phoneE164",
          "phoneDisplay",
          "degree",
          "studyYear"
        ]
      },
      "AdminRegistrationDetail": {
        "type": "object",
        "properties": {
          "registration": {
            "$ref": "#/components/schemas/AdminRegistration"
          },
          "existingUserId": {
            "type": [
              "string",
              "null"
            ]
          },
          "priorMemberships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminPriorMembership"
            }
          },
          "classification": {
            "type": "string",
            "enum": [
              "new",
              "returning"
            ]
          },
          "duplicateRegistrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminDuplicateRegistration"
            }
          }
        },
        "required": [
          "registration",
          "existingUserId",
          "priorMemberships",
          "classification",
          "duplicateRegistrations"
        ]
      },
      "AdminPriorMembership": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "campaignSlug": {
            "type": "string"
          },
          "campaignLabel": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "joinedAt": {
            "type": "string"
          },
          "endedAt": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "campaignId",
          "campaignSlug",
          "campaignLabel",
          "status",
          "joinedAt",
          "endedAt"
        ]
      },
      "AdminDuplicateRegistration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "campaignLabel": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/RegistrationStatus"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "campaignId",
          "campaignLabel",
          "status",
          "createdAt"
        ]
      },
      "AdminRestoreResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "restored"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "AdminAcceptResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "accepted"
            ]
          },
          "notificationSent": {
            "type": "boolean"
          }
        },
        "required": [
          "status",
          "notificationSent"
        ]
      },
      "AdminAcceptRequest": {
        "type": "object",
        "properties": {
          "membershipSource": {
            "type": "string",
            "minLength": 1,
            "example": "registration"
          }
        }
      },
      "AdminRejectResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "rejected"
            ]
          },
          "notificationSent": {
            "type": "boolean"
          }
        },
        "required": [
          "status",
          "notificationSent"
        ]
      },
      "AdminRejectRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "example": "No hi ha places disponibles aquest curs."
          }
        },
        "required": [
          "reason"
        ]
      },
      "AdminCampaignList": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminCampaignWithCounts"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "rows",
          "total",
          "limit",
          "offset"
        ]
      },
      "AdminCampaignWithCounts": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "membershipStartsAt": {
            "type": "string"
          },
          "membershipEndsAt": {
            "type": "string"
          },
          "registrationOpensAt": {
            "type": "string"
          },
          "registrationClosesAt": {
            "type": "string"
          },
          "isCurrent": {
            "type": "boolean"
          },
          "isRegistrationOpen": {
            "type": "boolean"
          },
          "state": {
            "$ref": "#/components/schemas/CampaignState"
          },
          "sheetTabName": {
            "type": [
              "string",
              "null"
            ]
          },
          "sheetSyncedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "sheetStale": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "activeMembers": {
            "type": "integer"
          },
          "pendingReview": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "slug",
          "label",
          "membershipStartsAt",
          "membershipEndsAt",
          "registrationOpensAt",
          "registrationClosesAt",
          "isCurrent",
          "isRegistrationOpen",
          "state",
          "sheetTabName",
          "sheetSyncedAt",
          "sheetStale",
          "createdAt",
          "updatedAt",
          "activeMembers",
          "pendingReview"
        ]
      },
      "CampaignState": {
        "type": "string",
        "enum": [
          "draft",
          "published",
          "archived"
        ]
      },
      "AdminCampaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "membershipStartsAt": {
            "type": "string"
          },
          "membershipEndsAt": {
            "type": "string"
          },
          "registrationOpensAt": {
            "type": "string"
          },
          "registrationClosesAt": {
            "type": "string"
          },
          "isCurrent": {
            "type": "boolean"
          },
          "isRegistrationOpen": {
            "type": "boolean"
          },
          "state": {
            "$ref": "#/components/schemas/CampaignState"
          },
          "sheetTabName": {
            "type": [
              "string",
              "null"
            ]
          },
          "sheetSyncedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "sheetStale": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "slug",
          "label",
          "membershipStartsAt",
          "membershipEndsAt",
          "registrationOpensAt",
          "registrationClosesAt",
          "isCurrent",
          "isRegistrationOpen",
          "state",
          "sheetTabName",
          "sheetSyncedAt",
          "sheetStale",
          "createdAt",
          "updatedAt"
        ]
      },
      "AdminCreateCampaignRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-z0-9-]+$"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "membershipStartsAt": {
            "type": "string",
            "format": "date-time"
          },
          "membershipEndsAt": {
            "type": "string",
            "format": "date-time"
          },
          "registrationOpensAt": {
            "type": "string",
            "format": "date-time"
          },
          "registrationClosesAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "slug",
          "label",
          "membershipStartsAt",
          "membershipEndsAt",
          "registrationOpensAt",
          "registrationClosesAt"
        ]
      },
      "AdminUpdateCampaignRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-z0-9-]+$"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "membershipStartsAt": {
            "type": "string",
            "format": "date-time"
          },
          "membershipEndsAt": {
            "type": "string",
            "format": "date-time"
          },
          "registrationOpensAt": {
            "type": "string",
            "format": "date-time"
          },
          "registrationClosesAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdminCampaignRegistrationRequest": {
        "type": "object",
        "properties": {
          "open": {
            "type": "boolean"
          }
        },
        "required": [
          "open"
        ]
      },
      "AdminMemberList": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminMemberListItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "rows",
          "total",
          "limit",
          "offset"
        ]
      },
      "AdminMemberListItem": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "surnames": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "studyYear": {
            "type": "number"
          },
          "role": {
            "type": [
              "string",
              "null"
            ]
          },
          "currentStatus": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalMemberships": {
            "type": "integer"
          }
        },
        "required": [
          "userId",
          "name",
          "surnames",
          "email",
          "degree",
          "studyYear",
          "role",
          "currentStatus",
          "totalMemberships"
        ]
      },
      "AdminMemberDetail": {
        "type": "object",
        "properties": {
          "profile": {
            "$ref": "#/components/schemas/AdminMemberProfile"
          },
          "emails": {
            "$ref": "#/components/schemas/AdminMemberEmails"
          },
          "memberships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminMemberTimelineMembership"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminMemberTimelineEvent"
            }
          }
        },
        "required": [
          "profile",
          "emails",
          "memberships",
          "events"
        ]
      },
      "AdminMemberTimelineMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "campaignSlug": {
            "type": "string"
          },
          "campaignLabel": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "joinedAt": {
            "type": "string"
          },
          "endedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "endedReason": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "campaignId",
          "campaignSlug",
          "campaignLabel",
          "status",
          "source",
          "joinedAt",
          "endedAt",
          "endedReason"
        ]
      },
      "AdminMemberTimelineEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "actorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "campaignId": {
            "type": [
              "string",
              "null"
            ]
          },
          "details": {},
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "eventType",
          "actorId",
          "campaignId",
          "createdAt"
        ]
      },
      "AdminMemberEmailsResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "$ref": "#/components/schemas/AdminMemberEmails"
          }
        },
        "required": [
          "emails"
        ]
      },
      "AdminSetMemberEmailsRequest": {
        "type": "object",
        "properties": {
          "university": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "personal": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          }
        }
      },
      "AdminMemberStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "left",
              "kicked",
              "restored"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "AdminLeaveRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 2000
          }
        }
      },
      "AdminKickRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "reason"
        ]
      },
      "AdminSetRoleResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          }
        },
        "required": [
          "role"
        ]
      },
      "AdminSetRoleRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "member",
              "admin"
            ]
          }
        },
        "required": [
          "role"
        ]
      },
      "AdminDeleteMemberResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "deleted": {
            "type": "object",
            "properties": {
              "registrations": {
                "type": "integer"
              },
              "registrationVerifications": {
                "type": "integer"
              },
              "emailChallenges": {
                "type": "integer"
              },
              "authVerifications": {
                "type": "integer"
              },
              "memberInvitations": {
                "type": "integer"
              },
              "membershipEvents": {
                "type": "integer"
              },
              "memberships": {
                "type": "integer"
              },
              "pushSubscriptions": {
                "type": "integer"
              },
              "sessions": {
                "type": "integer"
              },
              "accounts": {
                "type": "integer"
              },
              "memberProfile": {
                "type": "integer"
              }
            },
            "required": [
              "registrations",
              "registrationVerifications",
              "emailChallenges",
              "authVerifications",
              "memberInvitations",
              "membershipEvents",
              "memberships",
              "pushSubscriptions",
              "sessions",
              "accounts",
              "memberProfile"
            ]
          }
        },
        "required": [
          "userId",
          "email",
          "deleted"
        ]
      },
      "AdminInvitationList": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminInvitation"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "rows",
          "total",
          "limit",
          "offset"
        ]
      },
      "AdminInvitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "intendedRole": {
            "$ref": "#/components/schemas/InvitationRole"
          },
          "prefillName": {
            "type": [
              "string",
              "null"
            ]
          },
          "prefillSurnames": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "cancelled"
            ]
          },
          "expired": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": "string"
          },
          "acceptedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "campaignId",
          "email",
          "intendedRole",
          "prefillName",
          "prefillSurnames",
          "status",
          "expired",
          "expiresAt",
          "acceptedAt",
          "createdAt"
        ]
      },
      "InvitationRole": {
        "type": "string",
        "enum": [
          "member",
          "admin"
        ]
      },
      "AdminCreateInvitationRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "intendedRole": {
            "$ref": "#/components/schemas/InvitationRole"
          },
          "prefillName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "prefillSurnames": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "allowExternalDomain": {
            "type": "boolean"
          }
        },
        "required": [
          "campaignId",
          "email"
        ]
      },
      "AdminInvitationActionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "InvitationLookupResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "prefillName": {
            "type": [
              "string",
              "null"
            ]
          },
          "prefillSurnames": {
            "type": [
              "string",
              "null"
            ]
          },
          "campaignLabel": {
            "type": "string"
          },
          "known": {
            "type": "boolean"
          },
          "profile": {
            "$ref": "#/components/schemas/KnownProfile"
          },
          "memberships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnownMembership"
            }
          }
        },
        "required": [
          "email",
          "prefillName",
          "prefillSurnames",
          "campaignLabel",
          "known",
          "profile",
          "memberships"
        ]
      },
      "InvitationLookupRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "token"
        ]
      },
      "InvitationAcceptResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "accepted"
            ]
          },
          "alreadyMember": {
            "type": "boolean"
          }
        },
        "required": [
          "status",
          "alreadyMember"
        ]
      },
      "InvitationAcceptRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "example": "Joan"
          },
          "surnames": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "example": "Garcia Serra"
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "example": "+34 623 32 42 34"
          },
          "degree": {
            "type": "string",
            "enum": [
              "grau en informàtica (lleida)",
              "grau en informàtica (igualada)",
              "grau en tècniques d'interacció digital",
              "grau en disseny digital",
              "doble grau en informàtica i ADE",
              "grau en enginyeria mecànica",
              "grau en enginyeria química",
              "grau en enginyeria de l'energia",
              "grau en eng. electrònica industrial",
              "grau en organització industrial",
              "doble grau en organització industrial i ADE",
              "doble grau en mecànica i energia",
              "grau en arquitectura tècnica",
              "altre"
            ],
            "example": "grau en informàtica (lleida)"
          },
          "year": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "example": 2
          },
          "note": {
            "type": "string",
            "maxLength": 2000,
            "example": "M'interessen els intercanvis internacionals."
          }
        },
        "required": [
          "token",
          "name",
          "surnames",
          "phone",
          "degree",
          "year"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "The API is available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/status": {
      "get": {
        "operationId": "getRegistrationStatus",
        "tags": [
          "Registrations"
        ],
        "responses": {
          "200": {
            "description": "Whether a campaign is currently accepting public registrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRegistrationStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/start": {
      "post": {
        "operationId": "startRegistration",
        "tags": [
          "Registrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationStartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always returned when the address is well-formed and a campaign is open, whether or not an email was actually sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationStartResponse"
                }
              }
            }
          },
          "409": {
            "description": "No campaign is currently open for registration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "The address is not a valid email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many code requests from this address or client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/verify-code": {
      "post": {
        "operationId": "verifyRegistrationCode",
        "tags": [
          "Registrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationVerifyCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The code was right. Returns a short-lived registration session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationSession"
                }
              }
            }
          },
          "400": {
            "description": "The code is wrong, expired, already used, or out of attempts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The address is linked to more than one member account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many attempts from this client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/verify-link": {
      "post": {
        "operationId": "verifyRegistrationDraftLink",
        "tags": [
          "Registrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationDraftTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The link was valid. Returns a draft session and every supplied address's verification state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationSession"
                }
              }
            }
          },
          "400": {
            "description": "The link is invalid, expired, or already used.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The two addresses already belong to different accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many attempts from this client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/resume": {
      "post": {
        "operationId": "resumeRegistrationDraft",
        "tags": [
          "Registrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationDraftTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current verification state for a live draft session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationSession"
                }
              }
            }
          },
          "400": {
            "description": "The draft session is invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The two addresses already belong to different accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/resend-link": {
      "post": {
        "operationId": "resendRegistrationDraftLink",
        "tags": [
          "Registrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationDraftResendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always returned for a well-formed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationStartResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations": {
      "post": {
        "operationId": "createRegistration",
        "tags": [
          "Registrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The registration was saved. An active member of the immediately preceding campaign is accepted automatically; every other registration lands in `pending_review`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationCreated"
                }
              }
            }
          },
          "400": {
            "description": "The `emailToken` is invalid, expired, or already spent. The applicant has to redo the code step.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Either no campaign is currently open for registration (error code CONFLICT), or this email already has a registration for the open campaign (error code ALREADY_REGISTERED) — check the response body's error.code to tell them apart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "The request body is too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "The request body is not JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "The request did not match the registration schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "The registration could not be saved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/{id}/resend-verification": {
      "post": {
        "operationId": "resendRegistrationVerification",
        "tags": [
          "Registrations"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "registration_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Always returned, whether or not a new verification email was actually sent — see the route's doc comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResendVerificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrations/verify": {
      "get": {
        "operationId": "verifyRegistrationEmailGet",
        "tags": [
          "Registrations"
        ],
        "description": "What an email link naturally is: GET with the token as a query param.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "a1b2c3..."
            },
            "required": true,
            "name": "token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The email is verified; the registration moved from pending_email to pending_review. This does NOT create a membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Verified"
                }
              }
            }
          },
          "400": {
            "description": "The token is invalid, expired, or already used. Deliberately generic — never distinguishes those cases from each other or from a nonexistent registration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "verifyRegistrationEmailPost",
        "tags": [
          "Registrations"
        ],
        "description": "What a client-side confirmation page might prefer: POST with the token in the body, so it doesn't sit in server logs / browser history.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email is verified; the registration moved from pending_email to pending_review. This does NOT create a membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Verified"
                }
              }
            }
          },
          "400": {
            "description": "The token is invalid, expired, or already used. Deliberately generic — never distinguishes those cases from each other or from a nonexistent registration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/push/public-key": {
      "get": {
        "operationId": "adminPushPublicKey",
        "tags": [
          "Admin"
        ],
        "description": "The VAPID public key the admin PWA needs to create a push subscription. Fetched at runtime so no key is compiled into the browser bundle. Empty string when push is not configured on the server. Requires the `notifications.manage` capability.",
        "responses": {
          "200": {
            "description": "The VAPID public key, or an empty string.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushPublicKey"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/push/subscribe": {
      "post": {
        "operationId": "adminPushSubscribe",
        "tags": [
          "Admin"
        ],
        "description": "Register (or refresh) this browser's push subscription for the signed-in admin. Idempotent on the endpoint. Requires `notifications.manage`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The subscription is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushSubscribeResponse"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/push/unsubscribe": {
      "post": {
        "operationId": "adminPushUnsubscribe",
        "tags": [
          "Admin"
        ],
        "description": "Drop this browser's push subscription. Idempotent. Requires `notifications.manage`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushUnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The subscription is gone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushUnsubscribeResponse"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/profile": {
      "get": {
        "operationId": "adminGetOwnProfile",
        "tags": [
          "Admin"
        ],
        "description": "Return the signed-in member's current profile and login addresses. The user id comes from the session. Requires `admin.access`.",
        "responses": {
          "200": {
            "description": "The signed-in member's profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOwnProfile"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The session user has no member profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "adminUpdateOwnProfile",
        "tags": [
          "Admin"
        ],
        "description": "Update the signed-in member's name, phone, degree and study year. Role, membership state and email addresses are not writable here. The user id comes from the session. Requires `admin.access`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUpdateOwnProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The signed-in member's updated profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOwnProfile"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The session user has no member profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "One or more profile fields are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/overview": {
      "get": {
        "operationId": "adminOverview",
        "tags": [
          "Admin"
        ],
        "description": "Dashboard counts for the current campaign plus the current / registration-open campaign refs for the header. Requires the `dashboard.read` capability.",
        "responses": {
          "200": {
            "description": "Counts and campaign context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOverview"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/registrations": {
      "get": {
        "operationId": "adminListRegistrations",
        "tags": [
          "Admin"
        ],
        "description": "Requires the `registrations.review` capability. campaignId is required so omitting it can never list across every campaign at once.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "campaign_123"
            },
            "required": true,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/RegistrationStatus"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "required": false,
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Registrations for the given campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRegistrationList"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "campaignId is missing or status is not a valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/registrations/{id}": {
      "get": {
        "operationId": "adminGetRegistration",
        "tags": [
          "Admin"
        ],
        "description": "One registration with its profile snapshot, the applicant's prior memberships, a new/returning classification and any duplicate registrations for the same email. Requires `registrations.review`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "registration_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The registration and its review context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRegistrationDetail"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No registration with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/registrations/{id}/restore": {
      "post": {
        "operationId": "adminRestoreRegistration",
        "tags": [
          "Admin"
        ],
        "description": "Move a rejected registration back to pending_review. Never goes straight to accepted. Requires `registrations.review`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "registration_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The registration is back in the review queue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRestoreResponse"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No registration with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The registration is not in the rejected state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/registrations/{id}/accept": {
      "post": {
        "operationId": "adminAcceptRegistration",
        "tags": [
          "Admin"
        ],
        "description": "Requires the `registrations.review` capability. The reviewer is the session user.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "registration_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAcceptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted: the membership was created. notificationSent is false if the acceptance email failed to send — the membership still stands either way.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAcceptResponse"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No registration with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The registration is not in pending_review.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/registrations/{id}/reject": {
      "post": {
        "operationId": "adminRejectRegistration",
        "tags": [
          "Admin"
        ],
        "description": "Requires the `registrations.review` capability. The reviewer is the session user.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "registration_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRejectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rejected. notificationSent is false if the rejection email failed to send — the rejection still stands either way.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRejectResponse"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No registration with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The registration is not in pending_review.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/campaigns": {
      "get": {
        "operationId": "adminListCampaigns",
        "tags": [
          "Admin"
        ],
        "description": "Campaigns with active-member and pending-review counts, newest membership start first. Paginated for a uniform table contract even though the set is small. Requires `campaigns.write`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "required": false,
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/CampaignState"
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "All campaigns, newest membership start first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCampaignList"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "adminCreateCampaign",
        "tags": [
          "Admin"
        ],
        "description": "Create a draft campaign (all four dates required). Requires `campaigns.write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminCreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The draft campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCampaign"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The slug is already taken, or the date ranges are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/campaigns/{id}": {
      "patch": {
        "operationId": "adminUpdateCampaign",
        "tags": [
          "Admin"
        ],
        "description": "Edit a campaign. The slug can only change while it is a draft. Requires `campaigns.write`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "campaign_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUpdateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCampaign"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No campaign with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Illegal edit (e.g. renaming a published campaign's slug).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/campaigns/{id}/registration": {
      "post": {
        "operationId": "adminSetCampaignRegistration",
        "tags": [
          "Admin"
        ],
        "description": "Open or close public registration for this campaign. Opening it closes whichever other campaign was open, in one transaction. Requires `campaigns.rollover`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "campaign_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminCampaignRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCampaign"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No campaign with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/campaigns/{id}/current": {
      "post": {
        "operationId": "adminSetCampaignCurrent",
        "tags": [
          "Admin"
        ],
        "description": "Make this the current campaign, clearing the flag from whichever campaign held it, in one transaction. Requires `campaigns.rollover`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "campaign_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCampaign"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No campaign with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/campaigns/{id}/archive": {
      "post": {
        "operationId": "adminArchiveCampaign",
        "tags": [
          "Admin"
        ],
        "description": "Archive a campaign. Never deletes; clears both coexistence flags. Requires `campaigns.rollover`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "campaign_123"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCampaign"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No campaign with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/members": {
      "get": {
        "operationId": "adminListMembers",
        "tags": [
          "Admin"
        ],
        "description": "Paginated, searchable member list. `q` matches name / surnames / email; `filter` is all | current | past. Requires `members.read`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "current",
                "past"
              ]
            },
            "required": false,
            "name": "filter",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of members plus the total match count.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMemberList"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/members/{userId}": {
      "get": {
        "operationId": "adminGetMember",
        "tags": [
          "Admin"
        ],
        "description": "One member: profile, every membership row with its campaign, and the full audit timeline. Requires `members.read`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "user_123"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The member's profile and history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMemberDetail"
                }
              }
            }
          },
          "401": {
            "description": "No session cookie, or the session is expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The session's role lacks the required capability, or the user has not completed onboarding.",
            "content": {
[...]
